* text=auto
*.js     text eol=lf
*.jsx    text eol=lf
*.ts     text eol=lf
*.tsx    text eol=lf
*.css    text eol=lf
*.html   text eol=lf
*.json   text eol=lf
*.md     text eol=lf

# node_modules are binary for Git's purposes (do not attempt to normalize)
node_modules/* -text
