@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #7c3aed;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}

/* small helpers */
.container {
  @apply max-w-6xl mx-auto px-6 lg:px-8;
}
